@import "../../app.scss";

.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    text-align: center;
    color: orange;
    font-size: 36px;
    z-index: 999;
    background-color: #0c0c1d;

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
}
